
.main-container {
  max-width: 700px !important;
  margin: auto;
  font-family: Georgia;
}
 
body {
  font-family: Georgia;
  font-size: 12pt;
}
 
.highcharts-background {
  fill:  #FFFFFF;
}
 
.highcharts-title {
  border-bottom: 0.5pt solid #000000;
  padding-bottom: 8px;
  white-space: normal !important;
  overflow: visible !important;
  max-width: 100%;
  box-sizing: border-box;
}